# INSTRUCTIONS:
# 1. Copy this file and rename it to .env
# 2. Fill in the actual values for your local environment below.
# 3. DO NOT commit your .env file to version control.

# Database Configuration (Replace with your local credentials)
DB_HOST="localhost"
POSTGRES_DB= 
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
SESSION_SECRET=
SELF_HOSTED=1
LOGIN_EMAIL=
LOGIN_PASSWORD=