    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/sites">Sites</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%=title%></li>
            </ol>
        </nav>
        <% if (error!=null) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <h1>Add a Site</h1>
        <p>Please enter your site's domain without 'https://' or 'http://' </p>
        <form method="POST" action="/sites/add">
            <div class="input-group mb-3">
                <input name="domain" type="text" class="form-control" placeholder="Domain" aria-label="Domain" 
                aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
