        <style>
            body {
                font-family: Arial, sans-serif;
                background: #f2f4ff;
                display: flex;
                justify-content: left;
                align-items: left;
                height: 100vh;
                text-align: left;
            }

            .container {
                position: relative;
                padding-top: 15px;
            }

            .top-right-logout {
                position: absolute;
                right: 15px;
            }

            .card {
                background: white;
                border-radius: 10px;
                box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            }

        </style>
        
        <div class="top-right-logout">
            <form action="/users/logout" method="POST" style="display:inline;">
                <button class="btn btn-primary" type="submit">Log Out</button>
            </form>
        </div> 

        <h1 style=>Sites</h1>   


        <div class="card" style="width: 18rem; margin-top: 15px; margin-bottom: 15px">
                <div class="card-body">
                    <a href="/sites/add" class="card-link">+ Add a Site</a>
                </div>
        </div>

        <% domains.forEach(d => { %>
            <div class="card" style="width: 18rem; margin-top: 15px; margin-bottom: 15px;">
                <div class="card-body">
                    <h5 class="card-title"><%= d.domain %> </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= new Date(d.created_at).toLocaleString() %></h6>
                    <p class="card-text"> </p>
                    <a href="/sites/<%= d.id %>/dashboard" class="card-link">Dashboard</a>
                    <a href="/sites/<%= d.id %>/snippet" class="card-link">Get Snippet</a>
                </div>
            </div>
        <% }) %>
