
        <style>
        body {
        font-family: Arial, sans-serif;
        background: #f2f4ff;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        height: 100vh;
        }
    </style>



        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/sites">Sites</a></li>
                <li class="breadcrumb-item active" aria-current="page">Snippet</li>
            </ol>
        </nav>
        <div class="code-box">
            <div class="card" style="width: fit-content; padding: 1rem; padding-left: 2rem; padding-right: 2rem; margin-top: 15px; margin-bottom: 15px">
                <h2>Add the following script tag inside the &lt;head&gt; of your HTML</h2>
                <pre><code id="snippet">
&lt;script src="https://cdn.jsdelivr.net/gh/aleezamo/aitracker@main/aitrackerscript.js"
data-api-url="<%=api_url%>" data-site-id="<%= site_id %>" &gt;
&lt;/script&gt;
            </code></pre>
            <button class="btn btn-primary" type="button" onclick="copySnippet()">Copy</button>

            </div>
        </div>

 



    <script>
        function copySnippet() {
        const text = document.getElementById("snippet").innerText;

        navigator.clipboard.writeText(text).then(() => {
            alert("Copied!");
        }).catch(err => {
        console.error("Copy failed:", err);
        });
    }
    </script>
    