<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/aitrackerscript.js" data-api-url="http://127.0.0.1:8000/track" data-site-id="1"> </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
</head>
<body>
    HI
</body>